<h1>Listing ads</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.title %></td>
        <td><%= ad.text %></td>
        <td><%= image_tag ad.image.url %></td>
      </tr>
  <% end %>
</table>
