<div>
    <% @creatives.each do |creative| %>
        <div class="<%= creative.dimensions %>">
            <%= link_to(image_tag(creative.image.url), creative.link) %>
        </div>
    <% end %>
</div>
