<%= link_to "Upload an ad", controller: "creatives", action: 'new' %>
<table>
    <% @creatives.each do |creative| %>
      <tr>
        <td><%= image_tag creative.image.url %></td>
      </tr>
    <% end %>
</table>