<table>
    <% @creatives.each do |creative| %>
      <tr>
        <td><%= link_to "#{image_tag(creative.image.url)}".html_safe, creative.link %></td>
        <td><%= creative.creator %></td>
      </tr>
    <% end %>
</table>