<div class="container">
    <div class="row">
        <% @creatives.each do |creative| %>
            <div class="creative">
                <%= link_to "#{image_tag(creative.image.url)}".html_safe, creative.link %>
                <p><%= creative.creator %></p>
            </div>
        <% end %>
    </div>
</div>
