// Place all the styles related to the ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
.creative {
    margin: 0.5em;
    img {
        height: 100%;
        width: 100%;
    }
}

.creative-container {
  float: left;
}

.creatives {
    @extend .well;
    @extend .container;

    background-color: $base02;
    border-color: $base02;
    > div {
        > div { @extend .creative; }
        .box_creative {
            @extend .creative;
            width: 300px;
            height: 250px;
        }

        .long_vertical_creative {
          @extend .creative;
          width: 160px;
          height: 600px;
          float: left;
        }

        .long_horizontal_creative {
            @extend .creative;
            width: 728px;
            height: 90px;
        }
    }
}
